{{ define "add_device.html" }}
{{ template "header" . }}
 <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        {{ template "menu" . }}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
            {{ template "navbar" . }}

          <!-- / Navbar -->
          <div style="padding-top: 0rem !important; padding-left: 1.5rem !important;" class="content">
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="col-6 order-2 order-md-3 order-lg-2 mb-4">
                <div class="row">
                  <div class="col-8">
                    <h4>Tambah Device</h4>
                  </div>
                </div>
                <br/>
                <div class="card">
                  <div style="flex-direction: column;" class="row row-bordered g-0">
                    <div class="card-body">
                        <form id="formAddUser" action="/public-lighting/add" method="POST">
                            <div class="mb-3">
                                <label class="form-label" for="area_id">Area ID</label>
                                <input type="text" class="form-control" id="area_id" name="area_id" placeholder="Masukkan Area ID" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="antares_id">Antares ID</label>
                                <input type="text" class="form-control" id="antares_id" name="antares_id" placeholder="Masukkan Antares ID" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="device_name">Nama Device</label>
                                <input type="text" class="form-control" id="device_name" name="device_name" placeholder="Masukkan Nama Device" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="device_address">Alamat Device</label>
                                <input type="text" class="form-control" id="device_address" name="device_address" placeholder="Masukkan Alamat Device" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="device_eui">EUI Device</label>
                                <input type="text" class="form-control" id="device_eui" name="device_eui" placeholder="Masukkan EUI Device" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="longitude">Longitude</label>
                                <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Masukkan Longitude" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="latitude">Latitude</label>
                                <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Masukkan Latitude" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="device_cons">Device Cons</label>
                                <input type="text" class="form-control" id="device_cons" name="device_cons" placeholder="Masukkan Device Cons" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="device_sts">Device Status</label>
                                <input type="text" class="form-control" id="device_sts" name="device_sts" placeholder="Masukkan Status Device" required/>
                            </div>
                            <button type="submit" class="btn btn-primary d-grid">Tambah Device</button>                            
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
        </div>
      <!-- Overlay -->
    <!-- / Layout wrapper -->
    {{ template "overlay" . }}
    {{ template "footer" . }}
{{ end }}