{{ define "overlay" }}
<!-- Overlay Hubungi Kami -->
<div class="hubungi-kami d-flex justify-content-end align-items-end" style="position: fixed;bottom: 0rem;right: -1.5rem;z-index: 999999;">
    <div class="hubungi-kami-content">
    <div class="hubungi-kami-logo-dan-teks">
        <a href="/public-lighting/contact-us">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" rx="12" fill="#EF6C37"/>
        <path d="M18.125 13.75C18.125 14.0594 17.9933 14.3562 17.7589 14.575C17.5245 14.7937 17.2065 14.9167 16.875 14.9167H9.375L6.875 17.25V7.91667C6.875 7.60725 7.0067 7.3105 7.24112 7.09171C7.47554 6.87292 7.79348 6.75 8.125 6.75H16.875C17.2065 6.75 17.5245 6.87292 17.7589 7.09171C17.9933 7.3105 18.125 7.60725 18.125 7.91667V13.75Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>Hubungi Kami</span>
        </a>
    </div>
    </div>
</div>
<!-- / Hubungi Kami -->

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
{{ end }}